

<!DOCTYPE html>
<html lang="en" id="root_html">
<head>
    <meta charset="UTF-8">
    <title>fire-hall</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>

<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fire Hall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                View
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/view-members">Members</a></li>
                                <li><a class="dropdown-item" href="/view-assignments">Assignments</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Edit
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/edit-members">Members</a></li>
                                <li><a class="dropdown-item" href="/edit-assignments">Assignments</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-danger" type="submit" href="/logout">Log Out</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h1">Add Assignment</h1>
        </div>
        <div class="form" id="form">
            <form action="" method="post">

                <div class="input-group mb-3">
                    <span class="input-group-text">Address</span>
                    <input type="text" placeholder="Street"  class="form-control" id="street_input" name="street">
                    <input type="number" placeholder="Number"  class="form-control" id="number_input" name="number">
                    <input type="text" placeholder="Postcode"  class="form-control" id="postcode_input" name="postcode">
                    <button id="test_button" type="button">Check</button>
                    <span></span>
                </div>

                <div id="map_div" class="container"></div>

                <script>

                    $('#test_button').on('click', function () {
                        $('#map_div').empty()
                        console.log('click')
                        street = $('#street_input').val()
                        number = $('#number_input').val()
                        postcode = $('#postcode_input').val()

                        address = street + ' ' + number + ', ' + postcode
                        console.log(address)

                        $('#map_div').append('<iframe width="600" height="450" src="https://www.google.com/maps?q=' + address + '&output=embed"></iframe>')



                    })
                </script>


                <div class="input-group mb-3">
                    <button class="btn btn-primary btn-block" type="submit">Add</button>
                </div>

            </form>


        </div>
    </div>
    <div class="col-2"></div>
</div>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>


</body>
</html>